<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper">

    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>        
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
    </resultMap>

    <select id="getPacientes" resultMap="PacienteResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            p.nombre
        FROM
            PACIENTES as p
    </select>

    <select id="getPaciente" resultMap="ResultPaciente">
        SELECT
        p.id,
        p.tipo_id,
        p.fecha_nacimiento,
        p.nombre AS nombre,
        c.idCONSULTAS,
        c.fecha_y_hora,
        c.resumen AS resumen
        FROM
            PACIENTES AS p JOIN CONSULTAS AS c ON p.id = c.PACIENTES_id AND p.tipo_id = c.PACIENTES_tipo_id
        WHERE
            p.id = #{id} AND p.tipo_id = #{idType}
        ORDER BY
            c.fecha_y_hora
    </select>

    <resultMap type='Paciente' id='ResultPaciente'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
        <collection property='consultas' ofType='Consulta' resultMap='ConsultaResult'></collection>
    </resultMap>

    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
    </resultMap>

    <select id="getPacientesEnfermedad" resultMap="PacienteEnfermedadResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            p.nombre,
            c.idCONSULTAS,
            c.fecha_y_hora,
            c.resumen
        FROM
            PACIENTES AS p JOIN CONSULTAS AS c ON
                p.id = c.PACIENTES_id AND p.tipo_id = c.PACIENTES_tipo_id
        WHERE
            (c.resumen LIKE '%hepatitis%' OR c.resumen LIKE '%varicela%') AND p.tipo_id = 'TI'
        ORDER BY
            fecha_nacimiento DESC

    </select>

    <resultMap type='Paciente' id='PacienteEnfermedadResult'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
        <collection property='consultas' ofType='Consulta' resultMap='ConsultaEnfermedadResult'></collection>
    </resultMap>

    <resultMap type='Consulta' id='ConsultaEnfermedadResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
    </resultMap>
</mapper>